*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #2a1b6b , #5c44a2);
    position: relative;
}

.estrelas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(1px 1px at 25% 15%, #ffffff, transparent),
    radial-gradient(1px 1px at 50% 40%, #ffffff, transparent),
    radial-gradient(2px 2px at 15% 55%, #ffffff, transparent),
    radial-gradient(1px 1px at 70% 25%, #ffffff, transparent),
    radial-gradient(1.5px 1.5px at 85% 60%, #ffffff, transparent),
    radial-gradient(1px 1px at 35% 75%, #ffffff, transparent),
    radial-gradient(1.5px 1.5px at 90% 30%, #ffffff, transparent),
    radial-gradient(2px 2px at 65% 25%, #ffffff, transparent);
}
.formulario{
    width: 400px;
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgb( 255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: white;
    border-radius: 16px;
    padding: 35px;
}
.formulario h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
.caixa-formulario{
    position: relative;
    margin-bottom: 30px;
}
.caixa-formulario input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    background-color: rgba(255,255,255,0.1);
    font-size: 16px;
    padding: 0 20px;
}
.caixa-formulario input::placeholder{
    color: #ffffff;
}
.caixa-formulario i{
    position: absolute;
    right: 42px;
    font-size: 20px;
    top: 25%;
}
.caixa-lembrar-esqueci{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 18px;

}
.caixa-lembrar-esqueci label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.caixa-lembrar-esqueci label input{
    accent-color: rgb(127,12,215);
}
.caixa-lembrar-esqueci a{
    text-decoration: none;
    color: #ffffff;
}
.caixa-lembrar-esqueci a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 45px;
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #2a1b6b;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;

}
button:hover{
    background-color: #ffffff;
    transform: translateY(-7px);
}
.link-registro{
     text-align: center;
     margin-top: 25px;
     font-size: 14px;
}
.link-registro a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.link-registro a:hover{
    text-decoration: underline;
}